@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(reset.css);
@import url(variables.css);
@import url(themes.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
* {
  box-sizing: border-box;
  color: var(--color-text);
}
